Package: us.n9y25ah7.Herbert
Name: Herbert
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: OS X-style dock redesigned for touch screens!
Maintainer: n9y25ah7
Author: n9y25ah7
Section: Tweaks
